.env
.env*
.env.*.php
.idea
public/storage
public/hot
storage/*.key
Homestead.yaml
Homestead.json
yarn-error.log
.rocketeer/
npm-debug.log
bootstrap/compiled.php
app/storage/
nbproject/*
/vendor
vendor/*
bootstrap/cache/*
/nbproject/private/
php.ini
php_errors.log
.DS_Store
php_profiles/*
tmp/*
composer.lock
/node_modules
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
